$bg-default: #fff;                  // background-color
$header-height: 70px;                 // default header color
$header-default-color: #2c3a46;
$header-hover-color: #e00;
$header-btn-blue: #2B90ED;
